<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  
   {% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

  
</head>

<body>
    <div class="wrapper">
    <form class="form-signin" method="post" action="/login1/">    
     {% csrf_token %}   
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="lname" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" name="lpwd" placeholder="Password" required=""/>      
      <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button> <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="6"> <a href="/Reg/"> Register Here!!!</a></font> 
     
    </form>
    <br>
    <br>
   
  </div>
  
  
</body>
</html>

