<html>
<head>
<title>Booking Info</title>
</head>
<body bgcolor="#E7EEBA">
 {% load static %}
 <h2><font face="Lucida Sans Unicode"><a href="/lout/" style="float: right;">Logout</a></font></h2>
<center>
<br>
<h1><font face="Lucida Sans Unicode">BOOKINGS</font></h1>
<br><br>
<font face="Lucida Sans Unicode">
<table border="1" width="30%" bgcolor="#DAF7A6">
<tr>
<th><h1><b>Name</b></h1></th>
<th><h1><b>From </b></h1></th>
<th><h1><b>To</b></h1></th>
</tr>
<tr>
{% for post in posts %}

<td><h4>{{ post.location }}</h4></td>

<td><h4>{{ post.from_id }}</h4></td>

<td><h4>{{ post.to }}</h4></td>
</tr>


{% endfor %}  
    <tr>
{% for post2 in post1 %}

<td><h4>{{ post2.Name }}</h4></td>



</tr>


{% endfor %}  

</table>
<h2><a href="/bookinfo/">Click here for Re-Booking!!!</a></h2>

<h2><a href="/regist/">To View Register Users</a></h2>
</font>
</center> 
</body>
</html>
